extends layout

block content
  if usuarioEncontrado
    .container-Home
      h1 #{title}
      p(class="textHome") Bienvenido #{usuarioEncontrado.usuario} a nuestra página de ventas ecommerce.
      form(action='/buscar-producto', method='GET' class='search-bar')
        input(type='text', name='q', placeholder='Buscar producto...')
        button(type='submit') Buscar
  else
    .container-Home
      h1 #{title}
      p(class="textHome") Bienvenido a nuestra página de ventas ecommerce.
      form(action='/buscar-producto', method='GET' class='search-bar')
        input(type='text', name='q', placeholder='Buscar producto...')
        button(type='submit') Buscar